body
{
   background-color: #A9A9A9;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px #000000 dashed;
   -moz-border-radius: 9px;
   -webkit-border-radius: 9px;
   border-radius: 9px;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 1px #000000 solid;
   -moz-border-radius: 1px;
   -webkit-border-radius: 1px;
   border-radius: 1px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text2 div
{
   text-align: right;
}
#Image1
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text1
{
   position: absolute;
   left: 42px;
   top: 950px;
   width: 192px;
   height: 36px;
   z-index: 4;
   text-align: left;
}
#wb_Text2
{
   position: absolute;
   left: 85px;
   top: 62px;
   width: 834px;
   height: 125px;
   text-align: right;
   z-index: 0;
}
#wb_Text3
{
   position: absolute;
   left: 286px;
   top: 950px;
   width: 241px;
   height: 36px;
   z-index: 5;
   text-align: left;
}
#wb_Image1
{
   position: absolute;
   left: 217px;
   top: 214px;
   width: 640px;
   height: 480px;
   z-index: 1;
}
#wb_Image2
{
   position: absolute;
   left: 171px;
   top: 781px;
   width: 256px;
   height: 256px;
   z-index: 9;
}
#wb_Text4
{
   position: absolute;
   left: 553px;
   top: 950px;
   width: 192px;
   height: 36px;
   z-index: 6;
   text-align: left;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 170px;
   top: 85px;
   width: 1019px;
   height: 1002px;
   z-index: 8;
}
#wb_Text5
{
   position: absolute;
   left: 802px;
   top: 950px;
   width: 192px;
   height: 36px;
   z-index: 7;
   text-align: left;
}
#wb_Image3
{
   position: absolute;
   left: 254px;
   top: 694px;
   width: 256px;
   height: 256px;
   z-index: 2;
}
#wb_Image4
{
   position: absolute;
   left: 508px;
   top: 694px;
   width: 256px;
   height: 256px;
   z-index: 3;
}
#Layer1_Container
{
   width: 1019px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Image5
{
   position: absolute;
   left: 933px;
   top: 781px;
   width: 256px;
   height: 256px;
   z-index: 10;
}
@media only screen and (max-width: 768px)
{
#Layer1
{
   left: 220px;
   top: 180px;
   width: 858px;
   height: 116px;
   visibility: visible;
   display: inline;
}
#Layer1_Container
{
   width: 854px;
}
#wb_Text2
{
   left: 4px;
   top: -57px;
   width: 834px;
   height: 86px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   left: 167px;
   top: 119px;
   width: 640px;
   height: 297px;
   visibility: visible;
   display: inline;
}
#wb_Image2
{
   left: 266px;
   top: 852px;
   width: 256px;
   height: 256px;
   visibility: visible;
   display: inline;
}
#wb_Image4
{
   left: 458px;
   top: 599px;
   width: 256px;
   height: 256px;
   visibility: visible;
   display: inline;
}
#wb_Image5
{
   left: 933px;
   top: 781px;
   width: 256px;
   height: 256px;
   visibility: visible;
   display: inline;
}
}
